#Make
*.o
*.d
#Ignore executables
access-point/hostapd/hostapd
access-point/hostapd/hostapd_cli
#access-point/hostapd/.config
access-point/.vscode
access-point/hostapd/ap_config/BSSExp/
vap-controller/nbproject/private/
vap-controller/build/
vap-controller/nbproject/private/
